@import 'utilities.css';
*{
/*box-sizing: border-box;*/
margin: 0;
padding: 0;
-webkit-font-smotthing:antialiased;
}
body{
   
    overflow-x: hidden;
    /*height: 8000px;*/
    font-family: Poppins,sans-serif;
}
html{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html ,body{
   
}
header {
background-color: wheat;
/*height: 800px;*/
clip-path: polygon(0 0,100% 0,100% 100%,75% 93%,0 100%);
}
.container
{
    max-width: 1152px;
    margin: 0 auto;

    padding: 0 15px;

}
header nav .left a{
color: black;
text-decoration: none;
margin-right: 2rem;
text-transform: uppercase;
transition: all .3s ease ;
}
header nav .left a:hover{
    color: #6a8ec8;
}
header nav{
    padding: 2rem 0;;
}

.left .logo img{
    margin-top: 0;

    margin-right: 4rem;
    
}

.left ul{
    
    display: flex;
    flex-direction: row;
    list-style: none;
}
.left ul a{
    margin:0.9rem;
 
}
/*.hero .left img
{
    object-fit: fill;
}*/

.hero .right h6 {

    font-size: 2rem;}


.hero .right h1 {
   
    margin-bottom:0.5rem ;
    font-size: 3rem;
}
.hero .right h1 span{
    color: #6a8ec8;
}

.hero .right p{
   
    margin-top: 2rem;
}
.hero .right h2 span{
color: #6a8ec8;
}
.hero .right button{
 margin-top: 2rem;

}
.hero.right{
    margin-top: -8.8rem;
}



section{
    padding: 6rem 0rem;
}
 section.about .about-img {
    height: 400px;
    width: 400px; 
    margin-left: 4.5rem;
 }
 section.about h1{
     margin-bottom: 1rem;
     font-size: 1.6rem;
     font-weight: 400px;
 }
 section.about h1 span{
     color: #6a8ec8;
 }
 section.about h3{
     font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: 400;

 }
 
 section.about p{
     font-size: 1.2rem;
     font-family: latto,sans-serif;
     line-height: 1.5;
     
 }
 section.about .social img{
     height: 35x;
     width: 35px;
     align-items: center;
     justify-content: center;
     margin-top: 1.5rem;
     border-radius: 20%;
 margin-right: 0.7rem;
 }
 section.about .social img:hover{
   
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(180, 100, 182, .4);
      }
 


.section-heading
{
    margin-bottom: 1rem;

    text-align:center ;
    line-height: 0.5;
}

.section-heading span{
    color: #6a8ec8;
}

.section-heading + p{
color: #636872  ;
font-size: 1.5rem;
font-weight: 500;
margin-bottom: 6rem;

text-align: center;
font-family: lato,sans-serif;
}


section.work .card-wrapper{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 2rem;
   grid-row-gap:5rem;

}
section.work .card-wrapper .card{
    background-color: white;
    position: relative;
    padding: 3rem 2rem;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
}
section.work .card-wrapper .card:hover{
    background-color: #73879B;

}
section.work .card-wrapper .card:hover h2{
    color:  #C0C5C9 ;
}
section.work .card-wrapper .card:hover p{
    color:  #424345;
}


section.work .card-wrapper .card img{
    position: absolute;
    top:-3.5rem;
    left:50%; 
    transform:translateX(-50%);

}

section.work{
    background-color:#D0D3D4 ;
    
}

section.work .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.work .card-wrapper .card p{
    font-family: 'lato',sans-serif;
    color: #5D6369 ;
    line-height: 1.6;
}

/* Blog Section*/



section.blog{
    background-color: #000000;
    clip-path: polygon(0 0,100% 0,100% 100%,60% 91%,0 100%);
   padding-bottom: 12rem; 
}

section.blog .section-heading {

    color: aliceblue;
}
section.blog .blog-p{
    margin-top:2rem ;
    margin-bottom: 1.8rem;
    color:#ffcccc
}

/*section.blog {
    display: grid;
 
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}*/

section.blog .slider .slide img{
   
    border-radius: 50%;
    object-fit: cover;
    margin-bottom:1rem;
}
section.blog .slider .slide .qr img{
    padding: 5rem 1rem;
}
section.blog .slider .slide{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
}
section.blog .slider .slide p{
    color: #73879B;
    font-family: 'lato', sans-serif;
    margin-bottom: 1rem;
    font-size: 1.3rem;
   
}
section.blog .slider .slide .read-more 
{
    color: #c6c8ca;
    text-decoration: none;
    margin-bottom: 1rem;
}
section.blog .slider .slide a{
    font-size: 1.5rem;
}
section.blog .slider .slide h1{
    color: #c6c8ca;
    font-size: 2rem;
    font-family: lato,sans-serif;
    text-decoration: none;
}
section.blog .slider .slide  a:hover{
color: #b81212;
}

section.blog .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
} 

section.blog .slider-dots{
    margin-top:2rem;
}
section.blog .slider-dots button{
font-size: 0;
width: 8px;
height: 5px;
margin-right: 0.3rem;
border: none;
outline: none;
border-radius: 50px;
cursor: pointer;
}
section.blog .dots li.slick-active button{
    background-color: aqua;
    width: 20px;
}


/*section.blog  .card .img-wrapper{
    height: 50%;
    width: 100%;
    object-fit: cover;
}
section.blog  .card .card-content{
  padding: 1.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
section.blog  .card .card-content h1{
    font-size: 1rem;
    font-weight: 600 ;
}
section.blog  .card .card-content a{
    color: #000000;
    text-decoration: none;
}
section.blog  .card .card-content span{
color: #b81212;
font-size: 0.8rem;
}
section.blog  .card .card-content p{
    font-family: 'Lato',sans-serif;
    color:#b81212;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section.blog  .card .card-content a.read-more{
 font-size:1rem;   
}
section.blog  .card .card-content a:hover{
    color: #2e82d6;
}
*/
/*contact me Section*/
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img
{
    margin-bottom: 0.5rem;
}
section.contact .card-wrapper .card h1{
    font-family: poppins;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: #696969;
    font-weight: 400;
}

section.contact .input-wrap
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.7rem;
}
section.contact .input-wrap2{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}
section.contact input{
padding: 0.5rem;
border:1px solid #b81212;

}
section.contact .input-wrap2 input{
    margin-bottom: 2rem;
    outline:none;
    
}
section.contact .input-wrap2 textarea{
    padding: 0.5rem;
    font-size: 0.9rem;
    border:1px solid #b81212;
}
section.contact .input-wrap2 textarea:focus{
    outline:none;
}
section.contact input:focus{
  outline:none;
}
section.contact .btn-contact{
text-align: center;
margin-top: 2rem;
 }

/*footer section*/
footer{
    background-color: #bdb3b3;
    text-align: center;
    padding: 2rem 0rem;
}
footer .footer-logo{
    margin-bottom:2rem;
    height:80px;
    width:80px;
}
footer .footer-social-icon a
{
margin-right: 1rem;
}
footer .footer-social-icon a img{
    height:30px;
    width:30;
    
}

footer .footer-social-icon{
    margin-bottom: 3rem;
    margin-left: 1rem;
}
footer .footer-para{
    color: #000000;

}



.site-main-wrapper{
    position: relative;
}
.hamberger-icon{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.hamberger-icon img{
    width: 30px;
}
.mobile-nav{
    position: fixed;
    top:0;
    left:0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem ;
   background-color: wheat;
    
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}
.mobile-nav .inner-menu ul li{
    list-style-type: none;
    cursor: pointer;
}
.mobile-nav .inner-menu  a:hover{
    color: #b81212;
    cursor: pointer;
}
.mobile-nav .inner-menu  {
    justify-content: center;
    text-align: center;

}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 80px;
    border: none;
    background: none;
    outline:none;
    cursor: pointer;
}
.times img{
    width:30px;
     
}


.mobile-nav ul li a{
color: #000000;
text-decoration: none;
font-size: 2rem;

}
.mobile-nav .mobile-logo {
   
   /*margin: auto;
   display: block;*/
   display: flex;
   justify-content: center;
}
.mobile-nav .mobile-logo img{
width: 80%;
height: 80px;

}


@media(min-width:576px)
{
    .container{
        max-width: 540px;
    }
}
@media(min-width:768px)
{
    .container{
        max-width: 720px;
    }
}


@media(min-width:992px)
{
    .container{
        max-width: 960px;
    }
    
}
@media(min-width:1200px)
{
    .container{
        max-width: 1152px;
    }
}


/* media query 1024 px na  niche jase toh aa lagse*/


@media(max-width:1024px){
    header #main-nav{
        display: none;
    }
    .hamberger-icon{
        display: block;
    }
    .hero .left img{
        margin-bottom: 4rem;
        width: 230px;
        height: 270px;
        margin-left: 3rem;
    }
    .hero .right h1{
        font-size: 2rem;
    }
    .hero .right p{
        margin-top: 1rem;
    }
    .hero .right button {
        margin-right: 1rem;
        padding: 0.2rem 0.3rem;
        margin-top: 1rem;
    }
    .hero{
        padding-top: 2rem;
    }

    header{
        clip-path: polygon(0 0,100% 0,100% 100%,28% 88%,0 100%);
    }

    section.about .about-img {
        height: 360px;
        width: 305px;
        margin-right: 5rem;
       margin-top: 1rem;
    }


    section.work .card-wrapper {
        grid-template-columns: repeat(2,1fr);
      column-gap: 2rem;
        grid-row-gap: 5rem;
    }

    section.contact .card-wrapper .card h6 {
        font-size: 0.7rem;
        color: #696969;
        font-weight: 400;
        
    }
}









/*576 karta upar jai toh  conatiner ni width 540px*/

@media(max-width:576px)
{
    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0,100% 0,100% 100%,73% 95%,0 100%);
    }
    
    .hero .left img {
        height: 360px;
        width: 300px;
        margin-right:  7rem;
        margin-bottom: 1rem;
      } 
    .hero .right {
        padding: 0 1rem;
        margin-top: 1rem;
    }
    .hero .right h6{
        margin-top: 0rem;
    }
    .hero .right button {
    margin-top: 0.5rem;
    margin-left:0rem;
    
    }
    .about-inner{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top: 2rem;
    }
    section{
        padding: 3rem 0;
    }
    section.work .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
         
    section.blog .slider .slide {
        padding: 0;
    }
    
    section.blog .slider .slide img
    section.blog {
        padding-bottom: 6rem;
    }
    .contact .card-wrapper .card img{
        height: 35px;
        width: 35px;
    }
    footer {
        padding: 1rem 0rem;
    }
    footer .footer-logo {
        margin-bottom:1rem;
        height: 73px;
        width: 73px;
    }
    footer .footer-social-icon {
        margin-bottom: 1rem;
       
    }
    .mobile-nav {
       
        width: 100%;
        height: 100%;
        padding: 0rem;
        padding-top: 4rem;
       }
       .mobile-nav ul li a {
           margin-top: 1rem;
            font-family: latto;
           font-weight: 600;
           font-size: 2rem;
       }
       .mobile-nav ul li
       {
           margin-top: 2rem;
       }
       .times{
           right: 45px;
       }
       section.blog .slider .slide img{
           height: 160px;
           width: 160px;
       }
}   